<head>
  <meta charset="UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/stylesheets/reset.css" />

  <link rel="stylesheet" href="stylesheets/footer.css" />

  <link
    rel="shortcut icon"
    href="/public/images/favicon.ico"
    type="image/x-icon"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rajdhani:wght@500;600;700&display=swap"
    rel="stylesheet"
  />
</head>

<footer>
  <section class="geral">
    <div class="parte-texto-um">
      Ganhe pontos <br />
      em Compra!
    </div>
    <img id="gpoints" src="images/gpoints.jpg" alt="" />

    <div class="parte-texto-dois">
      <img id="logo-footer" src="images/logo.oficial.jpeg" alt="" />
      <h1>O melhor site de Suplementos!</h1>
      <br />
      <h3>
        Tenha segurança em sua compra com o <br />
        melhor site de suplementos do Brasil.
      </h3>
      <h5>Monstro Suplementos - Todos os direitos reservados</h5>
    </div>

    <div class="parte-texto-tres">
      <h1>Conecte conosco!</h1>

      <div class="imagens-footer">
        <img id="footer-face" src="images/facebook.png" alt="" />
        <img id="footer-git" src="images/github.png" alt="" />
        <img id="footer-insta" src="images/instagram-icone.jpg" alt="" />
      </div>
    </div>
  </section>
</footer>
