<footer>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consectetur a totam fugiat id dolorem
        tempore nihil veniam beatae iure, facere quae consequuntur omnis, orem ipsum dolor sit amet consectetur
        adipisicing elit. Reiciendis consectetur a totam fugiat id dolorem
        tempore nihil veniam beatae iure, facere quae consequuntur omnis, amet rerorem ipsum dolor sit amet
        consectetur adipisicing elit. Reiciendis consectetur a totam fugiat id dolorem
        tempore nihil veniam beatae iure, facere quae consequuntur omnis, amet rerorem ipsum dolor sit amet
        consectetur adipisicing elit. Reiciendis consectetur a totam fugiat id dolorem
        tempore nihil veniam beatae iure, facere quae consequuntur omnis, amet rerorem ipsum dolor sit amet
        consectetur adipisicing elit. Reiciendis consectetur a totam fugiat id dolorem
        tempore nihil veniam beatae iure, facere quae consequuntur omnis, amet reramet rerum ut praesentium ab?
        Eligendi.
    </h2>
</footer>