<footer>
    
    <div id="footer-caixa-original">
        <div id="footer-logo-copys">
            <div class="imagem-logo-footer"><img src="images/logo.oficial.jpeg" alt=""></div>
            <div class="texto-footer"><h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, neque adipisci laborum odit laudantium aut voluptatibus, voluptates dicta cupiditate fuga eius ut dolor nobis laboriosam nostrum corrupti ab, repudiandae vel?
                 </h2>
            </div>
            <div class="coyright-footer"><h2>Copyright</h2> </div>
        </div>
        <div id="footer-links">
            <ul>
                <li><a href=""><strong>Categorias</strong><a href=""></a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="">Ajuda</a></li>
                <li><a href="">Sobre nós</a></li>
            </ul>
        </div>
        <div id="footer-sociais">
            <ul id="organiazar-sociais">
                <li class="facebook"  ><a href=""><img src="images/facebook.png" alt=""></a></li>
                <li class="instagram"><a href=""><img  src="images/instagram-icone.jpg" alt=""></a></li>
                <li class="github"><a href=""><img  src="images/github.png" alt=""></a></li>
            </ul>
        </div>
    </div>

</footer>