<footer class="footerCheckout">
    <section class="footerCheckout-final">
        <div class="row" style="justify-content: center;">
          <div class="quadro-maior">
            <p>
              Monstro Suplementos - Todos os direitos reservados
            </p>
          </div>
        </div>
      </section>
    </footer>
</footer>