<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Monstro Suplementos </title>

    <link rel="stylesheet" href="stylesheets/lista.css">
    <link rel="stylesheet" href="stylesheets/reset.css">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rajdhani:wght@500;600;700&display=swap"
        rel="stylesheet">

</head>

<body>

    <header>

        <div class="promoções">
            <h5>Promoção da semana!! Kit 2x 100% Whey 900g (1.8kg) Max Titanium Whey Protein Concentrado de R$1.499 por
                apenas R$899</h5>
        </div>


        <div class="cabeçario">
            <img id="logo" src="images/logo.oficial.jpeg" alt=" Icone do Site" />

            <div class="pesquisar">
                <img id="icone-buscar" src="images/icone-busca.png" alt="icone busca">
                <input type="text" name="Pesquisar" placeholder=" Pesquisar" />
            </div>

            <a href="/cadastro"><img id="icone-usuario" src="images/icone-entrar-peq.png" alt="Icone usuario"></a>

            <a href="#"><img id="icone-carrinho" src="images/crrinho-original-pq-trans.png" alt="Icone de um carrinho">
            </a>
        </div>


        <div class="menu-principal">

            <a id="pagina-inicial" href="/">
                <li ul>Página Inicial</li>
            </a>
            <a id="lista-produtos" href="listaprodutos">
                <li ul>Lista de Produtos</li>
            </a>


            <a id="parceiro" href="/sejaumparceiro">
                <li ul>Seja um Parceiro</li>
            </a>

            <a id="sobre-empresa" href="#">
                <li ul>Sobre a Empresa</li>
            </a>


        </div>

    </header>