<%- include("./partials/head")%>

<link rel="stylesheet" href="/stylesheets/header.css">
<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="stylesheet" href="/stylesheets/admin.css">
<link rel="stylesheet" href="/stylesheets/listaerros.css">



    <title> Cadastre-se - Monstro Suplementos</title>
    </head>

    <body>
        <main>
            <%- include("./partials/header")%>


    
            <div class="formulario">
                
                <div>
                    <h1 id="titulo">Seja Um Parceiro! #Vemmostro</h1>
                </div>

                <form class="form-cadastro" method="POST" onsubmit="validaCadastro(event)" novalidate>
            <div id="logo">
                <img src="img/logo.png" alt="">
            </div>

            <div class="lista-erros">

            </div>

            <label for="nome">Nome</label>
            <input type="text" name="nome" placeholder="Digite seu nome completo" data-required>
            
            <label for="email">email</label>
            <input type="email" name="email" placeholder="Digite seu email" data-required>

            <label for="senha">Senha</label>
            <input type="password" name="senha" placeholder="Senha" >

                        <label for="repeatPassword">Repita a senha</label>
            <input type="password" name="repeatPassword" placeholder="Repita a senha">
           

            </div>
            <button type="submit">ENVIAR</button>
        </main>

        
    </body>
    <script src="/js/validacao.js"></script>
    <script src="/js/cadastro.js"></script>
   
    </html>