<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja um Parceiro! </title>


    <link rel="stylesheet" href="../stylesheets/cadastro.css">


    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rajdhani:wght@500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <header>
            <img src="/images/logo.oficial.jpeg" alt="">
        </header>

        <h1 id="titulo">Seja Um Parceiro! #Vemmostro</h1>

        <div class="forms">
            <input id="nomec" type="text" placeholder=" Nome Completo">
            <input id="nomes" type="text" placeholder=" Nome Social">
            <input id="cnpj" type="text" placeholder=" CNPJ">
            <input id="rg" type="text" placeholder=" RG">
            <input id="cep" type="text" placeholder=" CEP">
            <input id="endereco" type="text" placeholder=" Endereço">
            <input id="cidade" type="text" placeholder=" Cidade">
            <input id="numero" type="text" placeholder=" Nº">
            <input id="estado" type="text" placeholder=" Estado">
        </div>
        <input id="enviar" type="submit">
    </main>
</body>

</html>