<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monstro Suplementos - Carrinho</title>
    <link rel="stylesheet" href="stylesheets/reset.css" />
    <link rel="stylesheet" href="stylesheets/carrinho.css" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  </head>

  <header>
    <img id="logo-carrinho" src="images/logo.oficial.jpeg" alt="" />
  </header>

  <main>
      <img src="images/whey-detalhe.png" alt="" />
      <img src="images/whey-detalhe.png" alt="" />
      <h1>
        Kit 2x 100% Whey 900g (1.8kg) Max Titanium Whey Protein Concentrado
      </h1>
      <h1>
        Kit 2x 100% Whey 900g (1.8kg) Max Titanium Whey Protein Concentrado
      </h1>
    </div>
  </main>
</html>
