<%- include("./partials/head") %>
    <link rel="stylesheet" href="../stylesheets/detalhes.css">
    <title>
        <%= titulos[0]%>
    </title>

    </head>


    <body>

        <div id="img">
            <img src="/images/over-detalhes.png" alt="Imagem do Produto Over">
        </div>


        <div class="detalhes">

            <div class="texto-principal">

                <h3 class="titulo">
                    <%= titulos[0]%>
                </h3>
            </div>


            <a href="">
                <button id="botão-comprar">
                    Comprar Agora!
                </button>
            </a>

            <a href="">
                <button id="botão-carrinho">
                    Adicionar ao Carrinho
                </button>
            </a>

            <div class="texto-descricao">

                <h3 class="descri">
                    Vivemos na era das notificações, redes sociais e streaming. A competição pelo nosso
                    foco dilui nossa
                    atenção, prejudicando concentração, produtividade e, por consequência, nosso crescimento
                    profissional.
                    Por isto criamos Overclock, que, ao contrário das bebidas energéticas tradicionais, que promovem
                    apenas
                    um estado de euforia e ansiedade, deixa você muito mais focado e mais concentrado. Você, em seu
                    melhor
                    dia, SEMPRE. Adquira já!.
                </h3>

            </div>

        </div>
    </body>

    </html>