<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina-inicial</title>

    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rajdhani:wght@500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/footer.css">

</head>

<body>

  <%- include("./partials/header") %>
    
    <main>
        <div class="banner">
            <a id="banner-principal" href="images/banner.png"><img  src="images/banner.png" alt="banner" ></a>
        </div>
        
        
        <div class="caixa-principal">
            <a class="caixa-produtos" href="/views/index.ejs"> Suplementos</a>
        </div>
    </main>

    
    <section class="seção-produtos">
        <div class="produtos">


            <section class="seção-produtos">
                <div class="produtos">
                            
                    <div class="produto1">
                        <img id="produto-whey-1" src="images/whey-lista.png" alt="Imagem Whey Protein">
                        <div class="texto-botão-1">
                            <p id="descrição-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. In vero cumque expedita nostrum pariatur reiciendis nemo iure quam aliquam dignissimos praesentium debitis laboriosam ipsa, reprehenderit adipisci! Sequi distinctio maiores reiciendis!</p>
                            <button id="botão-carrinho-1">
                                Adicionar ao Carrinho
                            </button>
                        </div>
                    </div>
                    
                    <div class="produto2">
                        <img id="produto-whey-2" src="images/touro-lista.png" alt="Imagem Touro suplemento">
                        <div class="texto-botão-2">
                            <p id="descrição-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, necessitatibus! Blanditiis fugit explicabo accusamus, rerum tempore distinctio ipsum quod, magni in sequi nulla temporibus rem repudiandae modi perferendis voluptas similique?</p>
                            <button id="botão-carrinho-2">
                                Adicionar ao Carrinho
                            </button>
                        </div>
                        
                    </div>
                    
                    <div class="produto3">
                        <img id="produto-whey-3" src="images/over-lista.png" alt="Imagem Over suplemento">
                        <div class="texto-botão-3">
                            <p id="descrição-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, necessitatibus! Blanditiis fugit explicabo accusamus, rerum tempore distinctio ipsum quod, magni in sequi nulla temporibus rem repudiandae modi perferendis voluptas similique?</p>
                            <button id="botão-carrinho-3">
                                Adicionar ao Carrinho
                            </button>
                    </div>
                    </div>
                    
                     
                </div>
            </section>        


 
        </div>
    </section>        
    
        

        <div class="sub-icones">
          
            <a href="../imgs/icones.png.png"><img id="icones-unidos" src="images/icones.png.png" alt=""></a>

        </div>
    
        <%- include("./partials/footer") %>


</body>

</html>