<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monstro Suplementos - Login</title>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/login.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <div id="cabeçario">
            <img id="logo" src="images/logo.oficial.jpeg" alt="Icone do Site">
        </div>
    </header>
    <main>
        <h1 id="titulo">Seja Bem vindo(a) Monstro!</h1>
        <div class="forms">
            <input id="Email" type="text" placeholder="Digite seu email:">
            <input id="Senha" type="password" placeholder="Digite sua senha:">
        </div>
        <div class="buttons">
            <button id="cadastrar">Criar conta</button>
            <button>
                Entrar
            </button>
        </div>
        <div style="margin-top: 20px;">
            <a href="" style="color: var(--vinho); text-decoration: none;">Esqueci minha senha</a>
        </div>
    </main>
    <div id="voltar">
        <button>
            <a href="index.ejs" style="text-decoration: none; color: var(--white);">Voltar a página inicial</a>
        </button>
    </div>


    <footer class="footerCheckout">
        <section class="footerCheckout-final">
            <div class="row" style="justify-content: center;">
                <div class="quadro-maior">
                    <p>
                        Monstro Suplementos - Todos os direitos reservados
                    </p>
                </div>
            </div>
        </section>
    </footer>
    </footer>


</body>

</html>