<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monstro Suplementos - Login</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <main>
      <form method="post">
        <h1 id="titulo">Entre em sua conta!</h1>
        <div class="forms">
          <input
            id="email"
            type="text"
            name="email"
            placeholder="Digite seu email"
            required
          />
          <input
            type="password"
            name="senha"
            id="senha"
            placeholder="Digite sua senha"
            required
          />
          <div class="box-check">
            <input
              type="checkbox"
              name="check"
              id="check"
              onchange="mostraEscondeSenha (event)"
            />
            <label for="check">Mostrar/Esconder senha</label>
          </div>
        </div>

        <div class="buttons">
          <button id="cadastrar">
            <a href="/cadastropessoa">Criar conta</a>
          </button>

          <button type="submit">Entrar</button>
        </div>
      </form>
      <div style="margin-top: 20px">
        <a href="" style="color: var(--vinho); text-decoration: none"
          >Esqueci minha senha</a
        >
      </div>
    </main>
    <div id="voltar">
      <button>
        <a href="/" style="text-decoration: none; color: var(--white)"
          >Voltar a página inicial</a
        >
      </button>
    </div>

    <script>
      function mostraEscondeSenha(event) {
        if (event.target.checked) {
          document.getElementById("senha").type = "text";
        } else {
          document.getElementById("senha").type = "password";
        }
      }
    </script>
  </body>
</html>
