<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monstro Suplementos - Login</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/listaerros.css">
    
</head>

<body>
    <header>
        <div id="cabeçario">
            <img id="logo" src="images/logo.oficial.jpeg" alt="Icone do Site">
        </div>
    </header>
    <main>
        
        <form method="post" onsubmit="ValidaLogin(event)" novalidate>
            <div class="lista-erros"></div>
        <h1 id="titulo">Seja Bem vindo(a) Monstro!</h1>
        <div class="forms">
            <input id="email" type="text" name="email" placeholder="Digite seu email:" data-required>
            <input type="password"  name="senha" id="senha" placeholder="Digite sua senha:" data-required>
            <div class="box-check" >
                <input type="checkbox" name="check" id="check" onclick="esconderSenha()">
            <label for="check">Mostrar/Esconder senha</label>
            </div>
            
        </div>
       
        <div class="buttons">
            <button type="button" id="cadastrar" onclick="window.location.href = '/cadastropessoa'">Criar conta </button>
        
            <button type="submit">Entrar</button>
        
        </div>
    </form>
        <div style="margin-top: 20px;">
            <a href="" style="color: var(--vinho); text-decoration: none;">Esqueci minha senha</a>
        </div>
    </main>
    <div id="voltar">
        <button>
            <a href="/" style="text-decoration: none; color: var(--white);">Voltar a página inicial</a>
        </button>
    </div>


    <footer class="footerCheckout">
        <section class="footerCheckout-final">
            <div class="row" style="justify-content: center;">
                <div class="quadro-maior">
                    <p>
                        Monstro Suplementos - Todos os direitos reservados
                    </p>
                </div>
            </div>
        </section>
    </footer>
    </footer>

</body>

<script src="/js/validacao.js"></script>
<script src="/js/loginValida.js"></script>

</html>