<%- include("./partials/header")%>
    <main>
        <h1 id="titulo">Seja Bem vindo(a) Monstro!</h1>
        <div class="forms">
            <input id="Email" type="text" placeholder="Digite seu email:">
            <input id="Senha" type="password" placeholder="Digite sua senha:">
        </div>
        <div class="buttons">
            <button id="cadastrar">Criar conta</button>
            <button>
                Entrar
            </button>
        </div>
        <div style="margin-top: 20px;">
            <a href="" style="color: var(--vinho); text-decoration: none;">Esqueci minha senha</a>
        </div>
    </main>
    <div id="voltar">
        <button>
            <a href="/index.html" style="text-decoration: none; color: var(--white);">Voltar a página inicial</a>
        </button>
    </div>
    <%- include("./partials/footer") %>
</body>

</html>