<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja um Parceiro! </title>


    <link rel="stylesheet" href="../stylesheets/usuario.css">


    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rajdhani:wght@500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <header>
            <img src="../images/logo.oficial.jpeg" alt="">
        </header>

        <h1 id="titulo">Entre em sua conta!</h1>

        <form class="login">

            <input id="email" type="email" placeholder=" E-mail">
            <input id="senha" type="password" placeholder=" Senha">
        </form>

        <a href="">
            <button id="botão-entrar">
                Entrar!
            </button>
        </a>


        <a href="">
            <button id="botão-google">
                Entrar com o Google
            </button>
        </a>



        <a href="">
            <button id="botão-cadastro">
                Cadastre-se!
            </button>
        </a>


    </main>
</body>

</html>