<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Detalhes - Geral </title>

    <link rel="shortcut icon" href="/favicon.ico.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rajdhani:wght@500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/vertouro.css">
</head>


<body>

    <div id="img">
        <img src="/img/touro-detalhe.png" alt="">
    </div>


    <div class="detalhes">

        <div class="texto-principal">
            <h3 class="titulo"> Touro - Suplemento Energético com 60 capsulas - ApoloEX</h3>
        </div>


        <a href="">
            <button id="botão-comprar">
                Comprar Agora!
            </button>
        </a>

        <a href="">
            <button id="botão-carrinho">
                Adicionar ao Carrinho
            </button>
        </a>

        <div class="texto-descricao">
            <h3 class="descri">
                Melhore seu desempenho e sua performance nos treinos.
                Touro é um produto 100% natural, seguro e eficaz, com Touro você vai melhorar sua performance,
                ganhando um melhor desempenho em suas atividades físicas.Tenha o poder de um Touro e melhore o
                seu desempenho em 100%. Touro combina ingredientes naturais com eficácia comprovada na concentração, que
                você precisa para o máximo de resultados.

            </h3>
        </div>

    </div>
</body>

</html>