<%- include("./partials/head") %>
    <link rel="stylesheet" href="../stylesheets/detalhes.css">
    <title>
        <%= titulos[2]%>
    </title>

    </head>


    <body>

        <div id="img">
            <img src="/images/whey-detalhe.png">
        </div>


        <div class="detalhes">

            <div class="texto-principal">

                <h3 class="titulo">
                    <%= titulos[2]%>
                </h3>
            </div>


            <a href="">
                <button id="botão-comprar">
                    Comprar Agora!
                </button>
            </a>

            <a href="">
                <button id="botão-carrinho">
                    Adicionar ao Carrinho
                </button>
            </a>

            <div class="texto-descricao">

                <h3 class="descri">
                    Suplemento alimentar à base da proteína, na quantidade de 24g de proteínas, 5,5g de bcaa, os
                    aminoácidos
                    essenciais para o nosso organismo, que trabalham no processo de reconstrução muscular e evita a
                    perda da
                    massa muscular magra, também contém 4g de glutamina e 25mg de enzimas. Seu alto teor de bcaa auxilia
                    no
                    ganho de massa muscular.

                </h3>

            </div>

        </div>
    </body>

    </html>