<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Detalhes - Geral </title>

    <link rel="shortcut icon" href="/favicon.ico.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rajdhani:wght@500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/verwhey.css">
</head>


<body>

    <div id="img">
        <img src="/images/whey-detalhe.png">
    </div>


    <div class="detalhes">

        <div class="texto-principal">

            <h3 class="titulo"> Kit 2x 100% Whey 900g (1.8kg) Max Titanium Whey Protein Concentrado</h3>
        </div>


        <a href="">
            <button id="botão-comprar">
                Comprar Agora!
            </button>
        </a>

        <a href="">
            <button id="botão-carrinho">
                Adicionar ao Carrinho
            </button>
        </a>

        <div class="texto-descricao">

            <h3 class="descri">
                Suplemento alimentar à base da proteína, na quantidade de 24g de proteínas, 5,5g de bcaa, os aminoácidos
                essenciais para o nosso organismo, que trabalham no processo de reconstrução muscular e evita a perda da
                massa muscular magra, também contém 4g de glutamina e 25mg de enzimas. Seu alto teor de bcaa auxilia no
                ganho de massa muscular.

            </h3>

        </div>

    </div>
</body>

</html>