:root {
    --vinho: #CB3737;
    --preto: #1A1515;
    --cinza: #DEDDDD;
    --branco: #FFF5EC;
    --vinho-h:#B83232
    } 

body {
    background-color: var(--cinza);
    display: flex;
    justify-content: center;
}

main {
    width: 78.8970588235294vw;
    height:  82.56vh;

    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    margin-top: 7.36vh;
    align-items: center;
    border-radius: 10px;
}

header {
    background-color: var(--vinho);
    width: 78.8970588235294vw;
    height: 9.12vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo {
    font-family: "Poppins";
    font-size: 4.8vh;
    color: var(--branco);
}


#nomec {
    width: 62.63308823529412vw;
    height:5.419199999999999vh ;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 23px;
}


#nomes {
    width: 62.63308823529412vw;
    height:5.419199999999999vh ;
    border-radius: 0.7352941176470589vw;
    border-style: none;
    margin-bottom: 3.68vh;
}

#rg {
    width: 30.073529411764707vw;
    height:5.419199999999999vh ;
    border-radius: 0.7352941176470589vw;
    border-style: none;
    margin-bottom: 23px;
}

#cep {
    width: 30.073529411764707vw;
    height:5.419199999999999vh ;
    border-radius: 0.7352941176470589vw;
    border-style: none;
    margin-bottom: 3.68vh;
}

#endereco {
    width: 30.073529411764707vw;
    height:5.419199999999999vh ;
    border-radius: 0.7352941176470589vw;
    border-style: none;
    margin-bottom: 3.68vh;
}

#cidade {
    width: 30.073529411764707vw;
    height:5.419199999999999vh ;
    border-radius: 0.7352941176470589vw;
    border-style: none;
    margin-bottom: 3.68vh;
}

#numero {
    width: 30.073529411764707vw;
    height:5.419199999999999vh ;
    border-radius: 0.7352941176470589vw;
    border-style: none;
    margin-bottom: 3.68vh;
}

#cnpj {
    width: 30.073529411764707vw;
    height:5.419199999999999vh ;
    border-radius: 0.7352941176470589vw;
    border-style: none;
    margin-bottom: 3.68vh;
}

#estado {
    width: 30.073529411764707vw;
    height:5.419199999999999vh ;
    border-radius: 0.7352941176470589vw;
    border-style: none;
    margin-bottom: 3.68vh;
}

.forms {
    display: flex;
    max-width: 78.8970588235294vw;
    flex-wrap: wrap;
    justify-content: center;
    
}

#numero {
    width: 2.2794117647058822vw;
    margin-right: 2.0588235294117645vw;
    margin-left: 2.0588235294117645vw;
}

#estado {
    width: 25.735294117647058vw;
}

#cnpj {
    margin-right: 2.2058823529411766vw;
}

#cep {
    margin-right: 2.2058823529411766vw;
}

#enviar {
    width: 25.838970588235295vw;
    height: 8.8vh;
    background-color: var(--vinho);
    color: var(--branco);
    border: none;
    cursor: pointer;
    border-radius: 0.36764705882352944vw;
}

#enviar:hover {
    background-color: var(--vinho-h);
}

#cnpj::placeholder {
    font-family: "Poppins";
    text-align: center;
    font-size: 1.4705882352941178vw;
    font-weight: 400;
    color: #A79A9A;
   
}
#nomec::placeholder {
    font-family: "Poppins";
    text-align: center;
    font-size: 1.4705882352941178vw;
    font-weight: 400;
    color: #A79A9A;
   
}
#nomes::placeholder {
    font-family: "Poppins";
    text-align: center;
    font-size: 1.4705882352941178vw;
    font-weight: 400;
    color: #A79A9A;
   
}

#rg::placeholder {
    font-family: "Poppins";
    text-align: center;
    font-size: 1.4705882352941178vw;
    font-weight: 400;
    color: #A79A9A;
   
}

#cep::placeholder {
    font-family: "Poppins";
    text-align: center;
    font-size: 1.4705882352941178vw;
    font-weight: 400;
    color: #A79A9A;
   
}

#endereco::placeholder {
    font-family: "Poppins";
    text-align: center;
    font-size: 1.4705882352941178vw;
    font-weight: 400;
    color: #A79A9A;
   
}

#cidade::placeholder {
    font-family: "Poppins";
    text-align: center;
    font-size: 1.4705882352941178vw;
    font-weight: 400;
    color: #A79A9A;
   
}

#numero::placeholder {
    font-family: "Poppins";
    text-align: center;
    font-size: 1.4705882352941178vw;
    font-weight: 400;
    color: #A79A9A;
   
}

#estado::placeholder {
    font-family: "Poppins";
    text-align: center;
    font-size: 1.4705882352941178vw;
    font-weight: 400;
    color: #A79A9A;
   
}