:root {
  --vinho: #cb3737;
  --preto: #1a1515;
  --cinza: #dedddd;
  --branco: #fff5ec;
  --vinho-h: #b83232;
}

.dark-mode:root {
  --vinho: #cb3737;
  --preto: #fff5ec;
  --cinza: #dedddd;
  --branco: #1a1515;
}

header {
  width: 100%;
  background-color: var(--vinho);
  height: 70px;
}

#logo-carrinho {
  padding-left: 45%;
  padding-top: 10px;
}

main {
  width: 700px;
  height: 350px;
  background-color: var(--cinza);
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 200px;
}

main img {
  width: 100px;
  margin-top: 50px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

main h1 {
  width: 200px;
  color: var(--preto);
  padding-left: 400px;
  display: flex;
  flex-wrap: wrap;
  padding-top: -100px;
}

.imgs {
  width: 100px;
  height: 100px;
}
