:root {
  --vinho: #CB3737;
  --preto: #1A1515;
  --cinza: #DEDDDD;
  --branco: #FFF5EC;
  } 
  
  
  .dark-mode:root {
      --vinho: #CB3737;
      --preto: #FFF5EC;
      --cinza: #DEDDDD;
      --branco: #1A1515;
      }

/*_______________ */
  

  body {
      height: 1450px;
      margin: 0px;
  }
  
  
 /*_______________ */
  
  .imagens-produtos {
  
      width: 26vw;
      height: 126vh;
      margin-top: 5.44vh;
  
      display: flex;
      flex-direction: column;
  
  
  }
  
  
  
  .descrição-produtos {
  
      width:  35.80882352941177vw;
      height: 126vh;
      margin-right: 10vw;
      margin-top: 5.44vh;
  
      display: flex;
      flex-direction: column;
  }
  
  
  #img-whey {
      width: 25.36764705882353vw;
      height: 39.52vh;
  
      margin-bottom: 2.72vh;
      display: flex;
  }
  
   
  
  
  .banner{
      width: 100%;
      height: 50vh;
  }
  #banner-principal img{
      width: 100%;
      height: 50vh;
  }

  
  .seção-produtos{
    padding-left: 0vh;
    padding-right: 0vh;
    margin-top: 4vh;
  }
  .sub-icones{
      width: 100%;
      height: 15vh;
      text-align: center;
      margin-top: 2vw;
      MARGIN-BOTTOM: 0.7vw;
      
  }

     
      
  #icones-unidos{
      width: 30vw;
      margin-top: 2vh;
  
  }


.caixa-principal{
  background-color: var(--vinho);
  width: 100%;
  text-decoration: none;
}
.caixa-produtos{
  font-family: "Poppins";
  background-color: var(--branco);
  font-size: 2.05vw;
  color: var(--vinho);
  transition: ease-out 0.3s;
  text-decoration: none;
  margin-left: 20vh;
  cursor: pointer;
  padding-bottom: 0.2vh;
  }

  .caixa-produtos:hover{
      background-color: var(--vinho);
      color: var(--branco);
  }



.produtos{
  display: flex;
  flex-direction: row;
  /* width: 3%; */
  padding-left: 2vh;
  margin-top: 0vw;
  
}

.produto1{
  display: flex;
}

.produto2{
  display: flex;
  margin-left: 1vw
  
}

.produto3{
  display: flex;
}

#produto-whey-1{
  width: 19vw;
  height: 30vh;
  margin-left: -5vw;
}

#produto-whey-2{
  width: 19vw;
  height: 34vh;
  margin-left: 0vw;
  margin-top: -1vw;
}
#produto-whey-3{
  width: 18vw;
  height: 30vh;
  margin-left: -1vw
}

.texto-botão1{
  display: flex;

}
.texto-botão2{
  display: flex;
  flex-direction: column;
}

.texto-botão3{
  display: flex;
}


#descrição-1{
  width: 16vw;
  margin-left: -2vh;
}

#descrição-2{
  margin-left: -3vw;
  width: 16vw;
}


#descrição-3{
  margin-left: -1vw;
  width: 16vw;
}

#botão-carrinho-1{
  cursor: pointer;
  margin-top: 3vh;
  margin-left: -2vh;
}
#botão-carrinho-2{
  cursor: pointer;
  margin-top: 3vh;
  margin-left: -6vh
}

#botão-carrinho-3{
  cursor: pointer;
  margin-top: 3vh;
  margin-left: -2vh;
}
