:root {
    --vinho: #CB3737;
    --preto: #1A1515;
    --cinza: #DEDDDD;
    --branco: #FFF5EC;
    } 



body {
    width: 100%;
    height: 100%;

    background-color: var(--cinza);
    display: flex;
    justify-content: center;
    margin-top: 55px;
   
}

.detalhes {
    background-color: var(--preto);
    Width: 33.088235294117645vw;
    max-height: 80vh;
    border-radius: 10px;

    margin-left: 25px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 13px;
    
}


.texto-principal {
    

    width: 410px;
    margin-bottom: 15px;
    color: var(--branco);
}



.titulo  {
    color:var(--branco);
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.descri {
    color:var(--branco);
    font-family: "Poppins";
    font-weight: 400;
    font-family:  2.4vh;
    text-indent:3em
   
}
#botão-comprar {
    width: 19.852941176470587vw;
    height: 6.56vh;

    background-color:var(--vinho);
    color: var(--branco);
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border-style: none;

    cursor: pointer;

    margin-bottom: 5px;
    margin-left: 50px;

}



#botão-carrinho {
    width: 19.852941176470587vw;
    height: 6.56vh;

    background-color:var(--branco);
    color: var(--vinho);
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border-style: none;

    cursor: pointer;

    margin-bottom: 16px;
    margin-left: 50px;

   
}

.texto-descricao {

    width: 410px;
    height: 150px;
  margin-left: 10px;
}


#botão-comprar:hover {
   
    background-color:#B83232;
    
}



#botão-carrinho:hover {

    color: #B83232;
     
}

